<%-include("layout/header")%>
<form action="/api/users/verify"   method="POST">
    AccessToken:<input type="text" name="token" placeholder="enter Your Token"><br>
    <button type="submit">submit</button>
  </form>
<%includes='layout/footer.ejs'%>