<%-include("layout/header")%>
<form action="api/users/search" method="GET">
  <input id="input" type="text" name="search" value="">
  <button type="submit">search</button>
</form>
<%-include("layout/footer")%>