<%includes='layout/header.ejs'%>
<div>
<%-include("layout/header")%>
<form action="api/auth/updatePassword/" method="put" Content-Type=application/JSON/text/JavaScript/HTML/XML>
  Email:<input type="Email" name="email" value="">
  oldPassword:<input type="text" name="oldPassword" placeholder="Email enter Your"><br>
    newPassword:<input type="text" name="newPassword" placeholder="password Enter"><br>
    <button type="submit">submit</button>
  </form>
</div>
<%includes='layout/footer.ejs'%>